/* Nav Stayling */
.logo {
  margin: 1.5em;
  font-family: Bungee, sans-serif;
}
.newTweet {
  margin-top: 1.5em;
  margin-right: 1.5em;
}
.arrow {
  margin-right: 1em;
  margin-top: 0.4em;
  margin-left: 3.5em;
  color: #d3200c;
}
