.new-tweet label {
  display: block;
}
textarea {
  width: 100%;
  border: none;
  background-color: #f4f1ec;
  outline: none;
  border-bottom: 5px solid black;
}

.footer {
  margin-top: 0.7em;
  display: flex;
  justify-content: space-between;
}
.new-tweet button {
  text-decoration: none;
  border: none;
  font-family: Bungee, sans-serif;
  padding: 0.2em 0.35em;
  background-color: #4056a1;
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px #2949b1;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}
.counter {
  font-family: Bungee, sans-serif;
}

.new-tweet button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px #2949b1;
}
